---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurants&limit=20&location=90094&offset=19980
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer KLoofZniw4yabSzI5pn38yhcvR6G0-arFYkeGVjUBT-XieLiV6O42I11MDgRz8aZcSky0IlmsGlEKYtp58bX0Ey-ev-14SkaCD8Gz0bWHYNHD9OQRRk2UbehHZWxX3Yx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - '0981339714d12930'
      X-Routing-Service:
      - routing-main--uswest2-779d555cf4-t7gm4; site=public_api_v3
      X-Proxied:
      - 10-69-70-199-uswest2aprod
      X-Extlb:
      - 10-69-70-199-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "19980 is greater
        than the maximum of 1000", "field": "offset", "instance": 19980}}'
  recorded_at: Wed, 18 Nov 2020 04:16:26 GMT
recorded_with: VCR 6.0.0
