---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurants&limit=20&location=90094&offset=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer KLoofZniw4yabSzI5pn38yhcvR6G0-arFYkeGVjUBT-XieLiV6O42I11MDgRz8aZcSky0IlmsGlEKYtp58bX0Ey-ev-14SkaCD8Gz0bWHYNHD9OQRRk2UbehHZWxX3Yx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-779d555cf4-wsvfq; site=public_api_v3
      Ratelimit-Remaining:
      - '4947'
      Ratelimit-Dailylimit:
      - '5000'
      X-Zipkin-Id:
      - 6f53e4cfc3794115
      Ratelimit-Resettime:
      - '2020-11-19T00:00:00+00:00'
      X-Proxied:
      - 10-69-172-176-uswest2bprod
      X-Extlb:
      - 10-69-172-176-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "yABfiMUE-PyHiQ35mYm_kg", "alias": "sakura-japanese-restaurant-los-angeles",
        "name": "Sakura Japanese Restaurant", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/EDjrV2xEVqmTgAPe4SQH9w/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/sakura-japanese-restaurant-los-angeles?adjust_creative=SSaZrUoYqTtTRfKU0Kl9DQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SSaZrUoYqTtTRfKU0Kl9DQ",
        "review_count": 894, "categories": [{"alias": "japanese", "title": "Japanese"},
        {"alias": "sushi", "title": "Sushi Bars"}, {"alias": "seafood", "title": "Seafood"}],
        "rating": 4.0, "coordinates": {"latitude": 33.991939, "longitude": -118.422439},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "4545
        S Centinela Ave", "address2": "", "address3": "", "city": "Los Angeles", "zip_code":
        "90066", "country": "US", "state": "CA", "display_address": ["4545 S Centinela
        Ave", "Los Angeles, CA 90066"]}, "phone": "+13108227790", "display_phone":
        "(310) 822-7790", "distance": 2015.5944055991656}, {"id": "r-N5nk6AgqiAmoBUr-4qDA",
        "alias": "ronnies-diner-los-angeles", "name": "Ronnie''s Diner", "image_url":
        "https://s3-media4.fl.yelpcdn.com/bphoto/OEYOL73h8NzuR4oGE1nRSQ/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/ronnies-diner-los-angeles?adjust_creative=SSaZrUoYqTtTRfKU0Kl9DQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SSaZrUoYqTtTRfKU0Kl9DQ",
        "review_count": 638, "categories": [{"alias": "din[...]
