---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=20&location=90094&offset=20&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer KLoofZniw4yabSzI5pn38yhcvR6G0-arFYkeGVjUBT-XieLiV6O42I11MDgRz8aZcSky0IlmsGlEKYtp58bX0Ey-ev-14SkaCD8Gz0bWHYNHD9OQRRk2UbehHZWxX3Yx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-779d555cf4-27rkg; site=public_api_v3
      Ratelimit-Remaining:
      - '4958'
      Ratelimit-Dailylimit:
      - '5000'
      X-Zipkin-Id:
      - d04874cfafd524a4
      Ratelimit-Resettime:
      - '2020-11-19T00:00:00+00:00'
      X-Proxied:
      - 10-69-172-176-uswest2bprod
      X-Extlb:
      - 10-69-172-176-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "lXO-2s8DFGvtZ71qDunfNQ", "alias": "the-most-valuable-playa-los-angeles",
        "name": "The Most Valuable Playa", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/nc1RyglJ5k6iitFpmxtLTA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/the-most-valuable-playa-los-angeles?adjust_creative=SSaZrUoYqTtTRfKU0Kl9DQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SSaZrUoYqTtTRfKU0Kl9DQ",
        "review_count": 91, "categories": [{"alias": "taiwanese", "title": "Taiwanese"},
        {"alias": "asianfusion", "title": "Asian Fusion"}, {"alias": "burgers", "title":
        "Burgers"}], "rating": 4.0, "coordinates": {"latitude": 33.96191, "longitude":
        -118.42145}, "transactions": ["delivery", "pickup"], "price": "$$", "location":
        {"address1": "8321 Lincoln Blvd", "address2": "", "address3": null, "city":
        "Los Angeles", "zip_code": "90045", "country": "US", "state": "CA", "display_address":
        ["8321 Lincoln Blvd", "Los Angeles, CA 90045"]}, "phone": "+13109100367",
        "display_phone": "(310) 910-0367", "distance": 1577.2617773774914}, {"id":
        "3Qw9xytSD2R3nB4oUsIQSw", "alias": "shake-shack-marina-del-rey-2", "name":
        "Shake Shack", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/g2zsaVU-84xMlUzTCuAlRw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/shake-shack-marina-del-rey-2?adjust_creative=SSaZrUoYqTtTRfKU0Kl9DQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SSaZrUoYqTtTRfKU0Kl9DQ",
        "review_count": 126, "categories": [{"alias": "b[...]
