---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=20&location=90094&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer KLoofZniw4yabSzI5pn38yhcvR6G0-arFYkeGVjUBT-XieLiV6O42I11MDgRz8aZcSky0IlmsGlEKYtp58bX0Ey-ev-14SkaCD8Gz0bWHYNHD9OQRRk2UbehHZWxX3Yx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-779d555cf4-4qnp2; site=public_api_v3
      Ratelimit-Remaining:
      - '4958'
      Ratelimit-Dailylimit:
      - '5000'
      X-Zipkin-Id:
      - 4b88d0bec0be4f0d
      Ratelimit-Resettime:
      - '2020-11-19T00:00:00+00:00'
      X-Proxied:
      - 10-69-70-199-uswest2aprod
      X-Extlb:
      - 10-69-70-199-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "048v5GZpsMP_1MEofObfSg", "alias": "bull-and-butterfly-los-angeles",
        "name": "Bull & Butterfly", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/BHqkePENyKDWVRUq2MZwig/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/bull-and-butterfly-los-angeles?adjust_creative=SSaZrUoYqTtTRfKU0Kl9DQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SSaZrUoYqTtTRfKU0Kl9DQ",
        "review_count": 25, "categories": [{"alias": "steak", "title": "Steakhouses"},
        {"alias": "seafood", "title": "Seafood"}], "rating": 4.5, "coordinates": {"latitude":
        33.976726, "longitude": -118.417029}, "transactions": [], "location": {"address1":
        "12746 Millennium Dr", "address2": "Ste 2200", "address3": null, "city": "Los
        Angeles", "zip_code": "90094", "country": "US", "state": "CA", "display_address":
        ["12746 Millennium Dr", "Ste 2200", "Los Angeles, CA 90094"]}, "phone": "+12132672900",
        "display_phone": "(213) 267-2900", "distance": 286.1843875469211}, {"id":
        "CPrXIt-1RuNF0Lvb7KdCiA", "alias": "hopdoddy-burger-bar-playa-vista", "name":
        "Hopdoddy Burger Bar", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/PzwIYHIyoT0nhDalUL11GA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/hopdoddy-burger-bar-playa-vista?adjust_creative=SSaZrUoYqTtTRfKU0Kl9DQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SSaZrUoYqTtTRfKU0Kl9DQ",
        "review_count": 777, "categories": [{"alias": "burgers", "title": "Burgers"}],
        "rating": 4.0, "coordinates": {"latitude": 33.976386, "longitude": -118.417766},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "12746
        Jefferson Blvd", "address2": "Suite 1120", "address3": "", "city": "Playa
        Vista", "zip_code": "90094", "country": "US", "state": "CA", "display_address":
        ["12746 Jefferson Blvd", "Suite 1120", "Playa Vista, CA 90094"]}, "phone":
        "+13104102337", "display_phone": "(310) 410-2337", "distance": 318.6462396504546},
        {"id": "VscSML6lgNgjJbm41Jqjog", "alias": "sol-mexican-cocina-los-angeles-3",
        "name": "SOL Mexican Co[...]
