---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=50&location=90094&term=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer KLoofZniw4yabSzI5pn38yhcvR6G0-arFYkeGVjUBT-XieLiV6O42I11MDgRz8aZcSky0IlmsGlEKYtp58bX0Ey-ev-14SkaCD8Gz0bWHYNHD9OQRRk2UbehHZWxX3Yx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-779d555cf4-27rkg; site=public_api_v3
      Ratelimit-Remaining:
      - '4890'
      Ratelimit-Dailylimit:
      - '5000'
      X-Zipkin-Id:
      - 1c97e16898cbce75
      Ratelimit-Resettime:
      - '2020-11-20T00:00:00+00:00'
      X-Proxied:
      - 10-69-70-199-uswest2aprod
      X-Extlb:
      - 10-69-70-199-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "uA3TautyZ7bby0w8Scwufg", "alias": "bennys-tacos-and-chicken-rotisserie-los-angeles-4",
        "name": "Benny''s Tacos & Chicken Rotisserie", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/DvYYgTEklvMM_HMhbMX1rA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/bennys-tacos-and-chicken-rotisserie-los-angeles-4?adjust_creative=SSaZrUoYqTtTRfKU0Kl9DQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SSaZrUoYqTtTRfKU0Kl9DQ",
        "review_count": 2437, "categories": [{"alias": "mexican", "title": "Mexican"},
        {"alias": "tex-mex", "title": "Tex-Mex"}], "rating": 4.5, "coordinates": {"latitude":
        33.95998, "longitude": -118.41685}, "transactions": ["delivery", "pickup"],
        "price": "$", "location": {"address1": "7101 W Manchester Ave", "address2":
        "", "address3": "", "city": "Los Angeles", "zip_code": "90045", "country":
        "US", "state": "CA", "display_address": ["7101 W Manchester Ave", "Los Angeles,
        CA 90045"]}, "phone": "+13106708226", "display_phone": "(310) 670-8226", "distance":
        1675.490452221005}, {"id": "VscSML6lgNgjJbm41Jqjog", "alias": "sol-mexican-cocina-los-angeles-3",
        "name": "SOL Mexican Cocina", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/VzfWhm944uJ6raV3XRoUDA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/sol-mexican-cocina-los-angeles-3?adjust_creative=SSaZrUoYqTtTRfKU0Kl9DQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SSaZrUoYqTtTRfKU0Kl9DQ",
        "review_count": 1313, "categories"[...]
[...]
